<style>
  .title {
    color: red;
  }
</style>



{% extends 'base.html' %}
<div>
  {% block index_content %}

  {% with messages = get_flashed_messages() %} {% if messages %}
  {% for item in messages %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{item}}
  </div>
  {% endfor %}
  {% endif %} {% endwith %}
  <h3 class="card-title">Danh sách món ăn</h3>
  <div class="row" style="z-index: 1;">
    {% for tms in mon %}
    <div class="col-md-4 p-1">
      <div class="card" style="width: 362px">
        <div class="card-body">
          <h5 class="card-title mb-3">{{tms.tenmon}}</h5>
          {% if 'monchinh' in tms.maloai %}
          <h6 class="card-subtitle mb-3 text-muted">Món chính</h6>
          {%else%}
          <h6 class="card-subtitle mb-3 text-muted">Món phụ</h6>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Initialize popover component
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>