
    {% extends 'base.html' %}

    {% block login_content %}
    {% with messages = get_flashed_messages() %} {% if messages %}
    {% for item in messages %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{item}}</strong> 
    </div>
    {% endfor %}
    {% endif %} {% endwith %}
    <div class="row d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="card" style="width:500px">
            <div class="card-body">

                <form action="" method="post" novalidate>
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        <label for="email">username</label>
                        <input type="email" name="username" class="form-control" placeholder="Enter email" id="email">
                        {% for error in form.username.errors %}
                        <span style="color: rgb(235, 57, 57);">{{error}}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="text">password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password">
                        {% for error in form.username.errors %}
                        <span style="color: rgb(235, 57, 57);">{{error}}</span>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock%}
