
    {% extends 'base.html' %}
    {% block index_content %}
    {% with messages = get_flashed_messages() %} {% if messages %}
    {% for item in messages %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{item}}
    </div>
    {% endfor %}
    {% endif %} {% endwith %}
    <div class="card" style="margin: 0 auto;
    width: 550px;
    ">
        <div class="card-body">
            <form action="{{url_for('insert')}}" method="POST">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tên món</label>
                    <input type="text" name="tenmon" class="form-control" id="recipient-name">
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="monchinh" name="mm">Món chính
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="monphu" name="mm">Món phụ
                </div>
                <button type="submit" class="btn btn-primary">Thêm món</button>
            </form>
        </div>
    </div>
    {% endblock %}
